<header class="header" style="height: 85px !important;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2 ">
                <div class="header__logo">
                    <a href="/"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/">Shop</a></li>
                        <li><a href="/orderDetails">Orders</a></li>
                        <li><a href="/userProfile">My Profile</a></li>
                        <!-- <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="./product-details.html">Product Details</a></li>
                                <li><a href="./shop-cart.html">Shop Cart</a></li>
                                <li><a href="./checkout.html">Checkout</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul>
                        </li> -->
                        
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                
                <div class="header__right">
                    <div class="header__right__auth header__menu p-0">
                        <% if (sessionData) {%>
                        <ul>
                           
                            <li><a href="/login"><%= name %></a>
                                <ul class="dropdown">
                                    <li><a href="/userProfile">My Profile</a></li>
                                    <li><a href="/orderDetails">Orders</a></li>
                                    <li><a href="/wishlist">Wishlist</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>
                            </li>
                            
                        </ul>
                        <% }else{%>
                        <a href="/login">Login</a>
                        <a href="#">Register</a>
                        <% } %>
                    </div>
                    <ul class="header__right__widget">
                        <% if (sessionData) {%>
                        <li><a href="/wishlist"><i class="fa-solid fa-heart"></i>
                            <div class="tip"><%= wishCount %></div>
                        </a></li>
                        <li><a href="/cart"><i class="fa-sharp fa-solid fa-cart-shopping"></i>
                            <div class="tip"><%= count %></div>
                        </a></li>
                        <% }else{%>
                            <li><a href="/wishlist"><i class="fa-solid fa-heart"></i>
                                
                            </a></li>
                            <li><a href="/cart"><i class="fa-sharp fa-solid fa-cart-shopping"></i>
                               
                            </a></li>
                            <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>